node_modules
dist
dist-docs
out
.DS_Store
.eslintcache
*.log*
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
/.history
.idea

/.cursor
/.shared
.pnpm-store/*
_*
/.sanshu-memory
site/.vitepress/cache/
